<div>
  Hi there, someone just shared with you the pdf for character: <%= @character.name %>
  Link: <%= link_to 'PDF Download', summary_character_url(id: @character.id, format: :pdf) %>
</div>


<p>
  Cheers!
  Team Tablework
</p>

