<section class="seven wide column jumbo">
  <h1>
    Built for actors. By actors.
  </h1>
  <p class="subtext">
    TABLEWORK™ is an online platform that digitises
    the work of acting. By developing your character, 
    rehearsing virtually with your cast and tracking your 
    progress, gain full control and access to your role to— 
    dare we say—get your act together.</p>
  <hr>
  <p class="subtext">
    Start exploring your role here: 
  </p>
  <%= link_to dashboard_path, class: "ui button yellow" do %>
    Step in
    <i class="arrow right icon"></i>
  <% end %>
</section>
