<section class="seven wide column jumbo">
  <h1><span class="highlight">Explore</span> Your Role</h1>
  <p class="subtext">Gather research, compile your thoughts, and feelings on your role and access them anywhere.</p>
  <hr>
  <p class="subtext">Start creating and enhancing your character on the go!</p>
  <%= link_to dashboard_path, class: "ui button yellow" do %>
    Step in
    <i class="arrow right icon"></i>
  <% end %>
</section>
