<header id="header-about" class="ui inverted vertical segment background-about">
  <section class="ui page grid">
    <header class="column row">
      <section class="one wide column"></section>
      <%= render 'layouts/header_landing' %>
      <section class="one wide column"></section>
    </header>
    <section class="sixteen wide column center aligned title">
      <h1>Let us tell you a <span>story</span></h1>
      <p>The actor's story, behind the scenes.</p>
    </section>
  </section>
</header>
<section class="ui story about">
  <section class="ui grid">
    <section class="four wide column">
      <section class="ui grid">
        <section class="three wide column"></section>
        <section class="blockquote-icon three wide column"></section>
        <blockquote class="quote ten wide column">
          An actor prepares <br>
          <span>
            --- Stanislavski
          </span>
        </blockquote>
      </section>
    </section>
    <section class="eight wide column">
      <h1 class="title">
        Vision
      </h1>
      <p class="vision-text">
        At Tablework, we inspire to improve the standard of acting by being the web-based software, by helping actors to organise and prepare for roles, while delivering engaging performances and powerful presentations.
      </p>
      <h1 class="title">
        Mission
      </h1>
      <ul>
        <li>
          To become the app that sets standard practice for professional actors worldwide.
        </li>
        <li>
          To become the leading app for character building, collaboration and continuous development.
        </li>
        <li>
          To be the leading app for aspiring actors to explore and empower their knowledge in acting.
        </li>
      </ul>
      <h1>Definition</h1>
      <p class="vision-text">
        TABLEWORK, or also known as read-through, is a well-known expression used throughout film, television or theatre productions. It is an organised reading of the script by the actors, going through lines to fully digest the story and sift through their characters.
        Actors spend 80% on their feet and 20% on table work. And with our software, we want to take that 20% to its highest efficiency.
      </p>
      <br>
      <p>
        If you’re looking to buy in bulk with special discounts, potential collaborations, TABLEWORK workshops or to partner with our acting school, please do not hesitate to reach out to us!
      </p>
  </section>
</section>
<section class="ui contacts">
  <div class="title">Contact Us</div>
  <div class="contact contact-razif">
    <div class="image"></div>
    <div class="contact-info">
      <div class="name">Razif Hashim</div>
      <div class="job-title">Founder & Creative Director</div>
      <div class="email">razif@tablework.com</div>
    </div>
  </div>
  <div class="contact contact-suzuki">
    <div class="image"></div>
    <div class="contact-info">
      <div class="name">Sho Suzuki</div>
      <div class="job-title">Sales Leader</div>
      <div class="email">suzuki@tablework.com</div>
    </div>
  </div>
</section>
<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15935.551891008108!2d101.674261!3d3.124316!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe4cc684587e375af!2sArt+Printing+Works+Sdn+Bhd!5e0!3m2!1sen!2s!4v1435777726146" width="320" height="240" frameborder="0" style="border:0" allowfullscreen></iframe>
  <div class="address">
    Art Printing Works Sdn Bhd <br>
    29, Jalan Riong <br>
    Bangsar <br>
    59100 Kuala Lumpur <br>
    Wilayah Persekutuan Kuala Lumpur, Malaysia <br>
    Open today <br>
    8:00 am – 5:00 pm
  </div>
</div>
<%= render 'layouts/footer_landing' %>
