<section class="ui inverted vertical segment background-image">
  <section class="ui page grid">
    <section class="column">
      <%= render 'layouts/header_landing' if user_signed_in? %>
    </section>
  </section>
</section>

<section class="ui vertically padded page grid">
  <section class="teal column">
    <h2 class="ui inverted header">Column Background</h2>
    <p>Third section of content</p>
  </section>
</section>

<section class="ui vertically padded page grid">
  <section class="black column">
    <h2 class="ui inverted header">Column Background</h2>
    <p>Fourth section of content</p>
  </section>
</section>