<section class="ui inverted vertical segment background-image">
  <section class="ui page grid">
    <header class="column row">
      <section class="one wide column"></section>
      <%= render 'layouts/header_landing' %>
      <section class="one wide column"></section>
    </header>
    <section class="sixteen wide column row">
      <section class="nine wide column"></section>
      <%= render 'static_pages/jumbo' %>
    </section>
  </section>
</section>

<section class="ui page grid">
  <section class="three column marketing row">
    <section class="column">
      <h3>Sign Up</h3>
      <p class="subtext">
        Invite three people to enjoy Tablework Pro account for 1 month.
      </p>
    </section>
    <section class="column">
      <h3>Title</h3>
      <p class="subtext">
        Voluptatum atque ea, quis aliquam reprehenderit possimus sapiente libero!
      </p>
    </section>
    <section class="column">
      <h3>Title</h3>
      <p class="subtext">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
    </section>
  </section>
</section>
<hr class="linebreak">
<section class="ui vertically padded page grid">
  <section class="black column">
    <h2 class="ui inverted header">Column Background</h2>
    <p>Fourth section of content</p>
  </section>
</section>