<header id="header-about" class="ui inverted vertical segment background-pricing">
  <section class="ui page grid">
    <header class="column row">
      <section class="one wide column"></section>
      <%= render 'layouts/header_landing' %>
      <section class="one wide column"></section>
    </header>
    <section class="sixteen wide column center aligned title">
      <h1>What's the <span>price</span> to pay?</h1>
      <p>We have prepared the best plans you ever need</p>
    </section>
  </section>
</header>
<section class="ui story">
  <section class="ui page grid">  
    <section class="sixteen wide column row">
      <section class="two wide column"></section>
      <section class="twelve wide column">
        <p>
          Red Five standing by. He is here. The plans you refer to will soon be back in our hands. I need your help,
          Luke. She needs your help. I'm getting too old for this sort of thing.
        </p>
      </section>
    </section>
  </section>
</section>
<section class="ui grid prices">
  <section class="sixteen wide column row">
    <section class="one wide column"></section>
    <section class="four wide column price">
      <header>
        <div class="title">Basic</div>
        <div class="number">0</div>
        <div class="currency">myr</div>
        <div class="frequency">/ month</div>
      </header>
      <footer>
        <ul>
          <li>Up to 2 Rehearsal Spaces</li>
          <li>5 Team Members / Space</li>
          <li>Free updates forever</li>
        </ul>
      </footer>
      <button class="ui huge fluid button bottom yellow">Get Started</button>
    </section>
    <section class="one wide column"></section>
    <section class="four wide column price inverted">
      <header>
        <div class="title">Superstar</div>
        <div class="number">69<span>99</span></div>
        <div class="currency">myr</div>
        <div class="frequency">/ month</div>
      </header>
      <footer>
        <ul>
          <li>Up to 2 Rehearsal Spaces</li>
          <li>5 Team Members / Space</li>
          <li>Free updates forever</li>
        </ul>
      </footer>
      <button class="ui huge fluid button bottom yellow">Buy Now</button>
    </section>
    <section class="one wide column"></section>
    <section class="four wide column price">
      <header>
        <div class="title">Pro</div>
        <div class="number">6<span>99</span></div>
        <div class="currency">myr</div>
        <div class="frequency">/ month</div>
      </header>
      <footer>
        <ul>
          <li>Up to 2 Rehearsal Spaces</li>
          <li>5 Team Members / Space</li>
          <li>Free updates forever</li>
        </ul>
      </footer>
      <button class="ui huge fluid button bottom yellow">Buy Now</button>
    </section>
  </section>
</section>
<%= render 'layouts/footer_landing' %>
