<div>
  Hi there, you have just been invited by 
  <%= @space_membership.space.director %> 
  to join the 
  <%= @space_membership.space.name %> 
  rehearsal space at Tablework.com. 
  <%= link_to 'Join Now', confirm_invite_space_space_memberships_url(@space_membership.space.id, @space_membership.token) %>
</div>
<p>
  Cheers!
  Team Tablework
</p>

