<section class="invite-email">
  </section>
<section class="ui four columns centered grid">
  <section class="column sign">
    <section class="ui one columns grid">

      <section class="column">
        <h3>Invite Member</h3>

        <div class="form-inputs">
          <%= simple_form_for [:space, @space_membership] do |f| %>
            <%= f.input :email, placeholder: 'Email' %>
        </div>
        <div class="form-actions">
            <%= f.button :submit, 'INVITE', class: 'ui button fluid primary' %>
          <% end %>
        </div>

      </section>
    </section>
  </section>
</section>
