<h1>
  Thank you for registering for Tablework. 
</h1>
<p>
  You will find that this is the great platform to increase your versatility as an actor.
</p>
<p>
  The only tip we can impart to you is; The More You Invest In Developing Your Character,  The Greater The Depth Of Your Character! 
</p>
<p>
  We are extremely glad,  and welcome you again in joining to be a prepared actor here at Tablework.
</p>
<p>
If you have any queries don't hesitate yourself, cheers
</p>
