.centerbox {
  margin-top: -80px !important;
  margin-bottom: 80px !important;
  min-height: 820px !important;
  padding: 30px 40px !important;
  h3 {
    @include base-normal();
    @include text-headline();
    color: $primary;
    margin: 0;
  }
  .ui.button {
    -webkit-border-radius: $small-rad;
            border-radius: $small-rad;
    .header {
      font-size: 30px;
    }
    .content {
      padding: 20px 20px 50px 20px;
    }
  }
  &.hidden {
    display:none !important;
  }
  a {
    color: $grey-4;
  }
}