.centerbox {
  margin-top: -80px !important;
  height: 700px !important;
  padding: 30px 24px;
  .ui.button {
    .header {
      font-size: 30px;
    }
    .content {
      height: 200px;
      padding: 100px 20px 50px 20px;
    }
  }
}