.centerbox {
  margin-top: -80px !important;
  min-height: 800px !important;
  padding: 30px 40px !important;
  h3 {
    @include base-normal();
    @include text-headline();
    color: $primary;
    margin-top: 0;
    margin-bottom: 36px;
  }
  .ui.button {
    -webkit-border-radius: $small-rad;
            border-radius: $small-rad;
    .header {
      font-size: 30px;
    }
    .content {
      height: 200px;
      padding: 60px 20px 50px 20px;
    }
  }
}