.selector{
	height:38px;
	background-color: #F8F8F8;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px !important;
	border:1px solid #ECECEC;
	width:100%;
	margin: 0px 0 0px 0;
}

