.dashboard_header {
	background: $secondary;
	height: 144px;
}
.dashboard_header h3 {
	position: absolute;
	padding-top: 90px;
	margin: 0;
}
#listCharacters {
	.action-button {
		background: $grey-1;
		text-align: center;
		.content {
			width: 100%;
			padding-top: 80px;
			color: $body-mid;
		}
	}
	.card {
		min-height: 240px;
		&:hover {
			-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.7);
			        box-shadow: 0 2px 4px rgba(0,0,0,0.7);
		}
		.image-text {
			position: absolute;
			bottom: 0;
			margin-left: 16px;
			color: $body-light;
			text-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.7);
		}
	}
}