// Font Family
body {
  @include freightsans();
  @include base-normal();
  color: $body-dark;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  &.application.index {
    min-width: 1024px;
  }
}

h1, h2, h3, h4, h5 {
  @include roboto();
  @include medium-normal();
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}