#landing {

  .ui.menu.topbar {
    padding: 0;
    height: 80px;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $grey-3;
    font-size: 15px;
    .item:first-child {
      padding: 10px 0 !important;
    }
    .item:last-child {
      margin-right:0px;
    }
    .brand {
      margin-left: 0;
    }
  }

  .brand-bw {
    background: asset-url('logo-tablework-bw.png') no-repeat center;
    -webkit-background-size: 135px 64px;
    -o-background-size: 135px 64px;
    background-size: 135px 64px;
    width: 135px;
    height: 64px;
    &:hover {
      border-bottom: none;
    }
  }
  .background-image {
    background: asset-url('background.png') center no-repeat;
    background-size: cover;
    height: 100vh;
  }
  #header-about {
    &.background-about {
      background: asset-url('background-about.png') center no-repeat;
      background-size: cover;
      height: 50vh;
    }
    &.background-pricing {
      background: asset-url('background-pricing.png') center no-repeat;
      background-size: cover;
      height: 50vh;
    }

    .title {
      margin-top: calc(50vh - 250px);
      h1 {
        font-family: Raleway;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 32px;
        span {
          color: $primary;
        }
      }
      p {
        font-size: 22px;
        font-weight: lighter;
      }
    }
  }
  .menu {
    margin: 0;
    a {
      line-height: 5rem;
      color: $white !important;
      &:last-child {
        color: $yellow !important;
        bacground: none;
      }
    }
  }


  footer {
    .menu {
      a.item {
       color: $grey-4 !important;
       font-family: FreightSans, sans-serif;
       font-weight: bold;
       font-size: 1.2rem;
       margin-right: 20px;
      }
    }
    footer {
      .brand {
        background: asset-url('logo-tablework.png') no-repeat center;
        height: 64px;
      }
      .item {
        &:first-child:after {
          content: '|';
          margin: 0 10px;
        }
      }
    }
  }

  .jumbo {
    margin-top: 120px;
    text-align: center;
    max-width: 430px;
    h1 {
      font-family: Raleway;
      font-size: 32px;
      font-weight: 800;
      font-kerning: 2.6;
      line-height: 43px;
      color: $black;
      margin: 0;
      text-transform: uppercase;
      margin-bottom: 20px;
      .highlight {
        color: $primary;
      }
    }
    hr {
      margin: 30px 0;
    }
    .subtext {
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      color: $grey-4;
      text-align: justify;
    }
    button {
      margin-top: 15px;
      width: 116px;
      height: 40px;
      background: $yellow;
    }
  }

  .marketing {
    margin: 50px auto;
    .column {
      text-align: center;
      h3 {
        font-size: 2rem;
        font-weight: 600;
        font-family: Baskerville, sans-serif;
      }
      .subtext {
        font-size: 19px;
        color: $grey-4;
        text-align: justify;
        padding: 0 20px;
      }
    }
  }

  .linebreak {
    border: none;
    border-bottom: 2px solid $grey-3;
    margin: 0;
  }
}

.features {
  .feature {
    margin: 150px auto;
    .image:first-child {
      margin-bottom:70px;
    }
  }
  hr {
    border: none;
    border-bottom: 1px solid $grey-3;
  }
}

.call-to-action {
  header {
    margin: 100px auto;
  }
  .actions {
    .column {
      &:first-child {
        border-right: 1px solid $grey-4;
      }
      button {
        color: $black;
      }
    }
  }
  .background-dark {
    background-color: $grey-2;
  }

  footer {
    margin: 100px auto 50px auto;
    padding: 2.5rem 0 !important;
    p {
      font-size: 1.1rem;
      line-height: 3rem;
    }
  }
}

.heading {
  font-family: Baskerville, sans-serif;
  text-align: center;
  font-weight: bold;
}
.sub-heading {
  font-size: 1.5rem;
  text-align: center;
  &.justified {
    text-align: justify;
  }
}
.ui.story {
  margin: 100px auto;
  .ui.grid {
    .blockquote-icon {
      height: 40px;
    }
    blockquote {
      padding: 0;
      margin: 0;
      text-align: left;
      font-size: 26px;
      color: $grey-4;
      font-weight: bold;
      line-height: 29px;
      span {
        font-size: 18px;
        line-height: 70px;
      }
    }
    section.blockquote-icon {
      background: asset-url('blockquote.png') center no-repeat;
    }
    p {
      font-size: 18px !important;
    }
  }
}

.ui.bio {
  .column {
    h1 {
      font-family: Raleway;
      text-align: center;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 900;
    }
    h2 {
      margin-bottom: 0;
      font-family: Baskerville;
      font-size: 21px;
      font-weight: bold;
    }
    .subheading {
      font-family: Raleway;
      color: $primary;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
    }
    p {
      font-family: FreightSans;
      font-size: 16px;
      color: $grey-4;
      line-height: 24px;
    }
    .one.column {
      margin-bottom: 40px;
    }
  }
}
footer {
  .line-centered {
    line-height: 36px;
  }
}

.prices {
  .ui.page.grid {
    padding-right: 5%;
    padding-left: 5%;
  }
  margin-bottom: 100px !important;
  .price {
    header {
      border: 5px solid $grey-2;
      text-align: center;
      .title {
        font-family: Raleway, sans-serif;
        font-size: 25px;
        font-weight: lighter;
        margin: 20px auto;
        color: $grey-3;
      }
      .number {
        font-size: 140px;
        font-family: Raleway, sans-serif;
        font-weight: bold;
        color: $grey-4;
        line-height: 1;
        span {
          font-size: 30px;
          position: relative;
          top: -80px;
          &:first-child {
            top: 0px;
          }
        }
      }
      .currency {
        text-transform: uppercase;
        font-size: 40px;
        color: $grey-3;
      }
      .frequency {
        font-size: 24px;
        font-weight: lighter;
        color: $grey-4;
        margin-bottom: 50px;
      }
    }
    footer {
      background-color: $grey-2;
      padding: 50px 0;
      p {
        text-align: center;
        font-size: 1.2em;
      }
    }
    .ui.button {
      border: none;
    }
    .after-footer {
      margin-top: 10px;
      padding: 10px;
      font-size: 16px;
      font-family: Raleway, sans-serif;
      color: $grey-4;
    }
    &.inverted {
      position: relative;
      top: -40px;
      color: $white;
      .recommended {
        text-transform: uppercase;
        font-family: Raleway, sans-serif;
        font-weight: bolder;
        background-color: rgb(50,50,50);
        text-align: center;
        margin-bottom: 10px;
        padding: 5px;
        height: 30px;
        span {
          color: $primary;
        }
      }
      header {
        border: 5px solid rgb(50,50,50);
        .title {
          color: $black;
        }
      }
      footer {
        background-color: rgb(50,50,50);
        border: 1px solid rgb(50,50,50);
      }
      .after-footer {
        color: $grey-4;
      }
    }
  }
}

.ui.mentors {
  .column {
    &.title {
      h1 {
        text-align: center;
        font-size: 32px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: Baskerville, sans-serif;
      }
    }
    h2 {
      font-family: Baskerville, sans-serif;
      margin-bottom: 0;
    }
    .sub-heading {
      text-align: left;
      font-size: 16px;
      color: $primary;
    }
  }
}


.ui.about {
  .blockquote-icon {
    margin-top: 35px;
  }
  .quote {
    margin-top: 35px !important;
  }
  h1.title {
    &:first-child {
      margin-top: 0;
    }
    font-family: Raleway, sans-serif;
  }

  .vision-text {
    line-height: 25px;
  }
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
      line-height: 25px;
      font-size: 18px;
    }
  }
}
.ui.bio {
  .biography {
    text-align: justify !important;
  }
}

.ui.mentors {
  .column.title {
    h1 {
      font-family: Raleway;
      text-align: center;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 900;
    }
  }
}
