#landing {

  .ui.menu.topbar {
    padding: 0;
    height: 80px;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $grey-3;
    font-size: 15px;
    .item:first-child {
      padding: 10px 0 !important;
    }
    .item:last-child {
      margin-right:0px;
    }
    .brand {
      margin-left: 0;
    }
  }
  .background-image {
    background: asset-url('background.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;
  }
  #header-about {
    &.background-about {
      background: asset-url('background-about.png') center no-repeat;
      background-size: cover;
      height: 50vh;
    }

    .title {
      margin-top: calc(50vh - 250px);
      h1 {
        text-transform: uppercase;
        span {
          color: $primary;
        }
      }
    }
  }
  .menu {
    margin: 0;
    a {
      line-height: 5rem;
      color: $white !important;
      &:last-child {
        color: $yellow !important;
        bacground: none;
      }
    }
  }

  
  footer {
    .menu {
      a.item {
       color: $grey-4 !important;
       font-family: FreightSans, sans-serif;
       font-weight: bold;
       font-size: 1.2rem;
       margin-right: 20px;
      }
    }
    footer {
      .brand {
        background: asset-url('logo-tablework.png') no-repeat center;
        height: 64px;
      }
      .item {
        &:first-child:after {
          content: '|';
          margin: 0 10px;
        }
      }
    }
  }

  .jumbo {
    margin-top: 120px;
    text-align: center;
    max-width: 430px;
    h1 {
      font-family: OpenSans;
      font-size: 32px;
      font-weight: 800;
      font-kerning: 2.6;
      line-height: 43px;
      color: $black;
      margin: 0;
      text-transform: uppercase;
      margin-bottom: 20px;
      .highlight {
        color: $primary;
      }
    }
    hr {
      margin: 30px 0;
    }
    .subtext {
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      color: $grey-4;
    }
    button {
      margin-top: 15px;
      width: 116px;
      height: 40px;
      background: $yellow;
    }
  }

  .marketing {
    margin: 50px auto;
    .column {
      text-align: center;
      h3 {
        font-size: 2rem;
        font-weight: 600;
        font-family: Baskerville, sans-serif;
      }
      .subtext {
        font-size: 19px;
        color: $grey-4;
      }
    }
  }

  .linebreak {
    border: none;
    border-bottom: 2px solid $grey-3;
    margin: 0;
  }
}

.features {
  .feature {
    margin: 150px auto;
    .image:first-child {
      margin-bottom:70px;
    }
  }
  hr {
    border: none;
    border-bottom: 1px solid $grey-3;
  }
}

.call-to-action {
  header {
    margin: 100px auto;
  }
  .actions {
    .column {
      &:first-child {
        border-right: 1px solid $grey-4;
      }
      button {
        color: $black;
      }
    }
  }
  .background-dark {
    background-color: $grey-2;
  }

  footer {
    margin: 100px auto 50px auto;
    padding: 2.5rem 0 !important;
    p {
      font-size: 1.1rem;
      line-height: 3rem;
    }
  }
}

.heading {
  font-family: Baskerville, sans-serif;
  text-align: center;
  font-weight: bold;
}
.sub-heading {
  font-size: 1.5rem;
  text-align: center;
  &.justified {
    text-align: justify;
  }
}
.ui.story {
  margin: 100px auto;
  .column {
    blockquote {
      text-align: right;
    }
    p {
      font-size: 18px !important;
    }
  }
}
