aside {
  margin-top: 50px;
  .ui.card {
    -webkit-border-radius: $small-rad;
    border-radius: $small-rad;
    .image{
      position:relative;
    }
    .image-text {
      font-size: 24px;
      width: 100%;
      position:absolute;
      bottom: 0px;
      background: rgb(0, 0, 0); /* Fall-back for browsers that don't
                                          support rgba */
      background: rgba(0, 0, 0, .5);
      left: 0px;
      padding: 0 0 0 10px;
      margin: 0px;
      color: $body-light;
      
      text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.8);

    }
    .extra.content {
      color: $body-dark;
      ul {
        padding: 10px;
        margin: 0;
        li {
          list-style-type: none;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          i {
            color: $grey-3;
          }
        }
      }
      a {
        color: $headline;
        padding: 10px;
      }
      .header {
        h3 {
          @include text-headline();
          @include base-normal();
          color: $primary;
          padding: 10px;
          margin: 0;
        }
      }
      .content {
        padding: 10px;
        ul {
          padding: 0;
          a {
            padding: 0;
            color: $body-dark;
            li {
              p {
                margin-bottom: 0;
              }
            }
            small {
              @include text-small();
              color: $body-mid;
            }
          }
        }
      }
    }
  }
  .shadow {
    @include shadow();
  }
  footer {
  	@include text-small();
    margin-top: 40px;
    color: $body-mid;
    a {
      color: $body-dark;
      &:hover {
        color: $headline;
      }
    }
  }
  .link{
    text-transform: uppercase;

  }

  .row{
    clear:both;
    padding-top:1.5em;
  }

  .capitalize{
    text-transform: capitalize;
  }

  .grey{
    color: $grey-4;
  }

  .page-header{
    font-size: 1.5em;
  }

  .section-header{
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 2.5em;
  }

  .content .description p{
    border-bottom: 1px solid $grey-3;
    padding-bottom: 15px;
    margin-bottom: 15px;

  }

  .edit-link{
    background: none;
    border: none;
    text-transform: uppercase;
    color: $orange;
  }

  .image-portrait {
     position: relative;
     width: 100%; /* for IE 6 */
  }

  h2 {
     position: absolute;
     color: $grey-1;
     top: 130px;
     left: 0;
     padding-left: 14px;
     width: 100%;
  }

  .scene-content-add{
    background-color: #e8e8e8;
    display: block;
    height: 50px;
    padding: 30px 40px;

  }

  .border-bottom{
    border-bottom: 1px solid $grey-3;
    padding:25px 0px;
  }

  .background{
    display: inline-block;
    width:50%;
    text-align:center;

  }

  .centered {
    display: block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    background-color:#e8e8e8 !important;
    border-radius:0px !important;
  }

  .offset-research{
    padding-left:14px !important;
  }

  .clear-borders{
    border-radius:0px;
    border:none;
    box-shadow:none !important;
  }

  .subheader{
    color: $grey-4;
    padding-bottom: 10px;
  }
}

.profile-editor-preview{
  max-width: 200px;
  min-width: 100px;
}
h3{
  display: inline;
}
.orange{
    color: $orange;
}

.padding-bottom{
  padding-bottom:5px;
}