aside {
  margin-top: 50px;
  .ui.card {
    .image-text {
      position:absolute;
      bottom:10px;
      margin-left: 20px;
      color: $body-light;
    }
  }
  .header {
  	h3 {
  		@include text-headline();
  		@include base-normal();
  		color: $primary;
  		margin-top: 0;
  		margin-bottom: 30px;
  	}
	}
  footer {
  	@include text-small();
		color: $body-mid;
  }
}