aside {
  margin-top: 50px;
  .ui.card {
    -webkit-border-radius: $small-rad;
    border-radius: $small-rad;
    .image-text {
      position: absolute;
      bottom: 10px;
      margin: 0 0 8px 24px;
      color: $body-light;
      text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.8);
    }
    .extra.content {
      color: $body-dark;
      ul {
        padding: 10px;
        margin: 0;
        li {
          list-style-type: none;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          i {
            color: $grey-3;
          }
        }
      }
      a {
        color: $headline;
        padding: 10px;
      }
      .header {
        h3 {
          @include text-headline();
          @include base-normal();
          color: $primary;
          padding: 10px;
          margin: 0;
        }
      }
      .content {
        padding: 10px;
        ul {
          padding: 0;
          a {
            padding: 0;
            color: $body-dark;
            li {
              p {
                margin-bottom: 0;
              }
            }
            small {
              @include text-small();
              color: $body-mid;
            }
          }
        }
      }
    }
  }
  .shadow {
    @include shadow();
  }
  footer {
  	@include text-small();
    margin-top: 40px;
    color: $body-mid;
    a {
      color: $body-dark;
      &:hover {
        color: $headline;
      }
    }
  }
}
.link{
  text-transform: uppercase;
  
}
.orange {
  color: $orange;
}

.row{
  clear:both;
  padding-top:1.5em;
}

.camelcase{
  text-transform: capitalize;
}