.ui.modal small {
  font-size: 12px !important;
}
.center {
  text-align: center;
}
.maroon {
  color: maroon;
}
.ui.card {
  border: 1px solid #ececec !important;
}


.scenes-note {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top:10px;
  p {
    margin: 0;
    padding: 0;
  }
  br {
    display: none;
  }
  a {
    @include shadow();
    display: inline-block;
    height: 180px;
    width: 235px;
    background: $bg-light;
    overflow: hidden;
    float: left;
    margin: 5px 5px;
    word-wrap: break-word;
    text-align: center;
    padding: 55px;
  }
  img {
    @include shadow();
    width: 235px;
    height: 180px;
    margin: 5px 5px;
  }

  .video.youtube{
    @include shadow();
    width:235px;
    height: 180px;
    margin: 5px 5px;
  }
}

.character-profile {
  .ui.card {
    .image-text {
      position: absolute;
      top: 130px;
      margin-left: 16px;
      color: $body-light;
      text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.8);
    }
  }
}