.ui.modal small {
  font-size: 12px !important;
}
.center {
  text-align: center;
}
.maroon {
  color: maroon;
}
.ui.card {
  border: 1px solid #ececec !important;
}


.scenes-note {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top:10px;
  p {
    margin: 0;
    padding: 0;
  }
  br {
    display: none;
  }
  a {
    display: inline-block;
    height: 150px;
    width: 180px;
    background: $bg-light;
    overflow: hidden;
    float: left;
    margin: 5.666667px 5.666667px;
  }
  img {
    @include shadow();
    width: 180px;
    height: 150px;
    margin: 5.666667px 5.666667px;
  }

  .video.youtube{
    @include shadow();
    width:180px;
    height: 150px;
    margin: 5.666667px 5.666667px;
  }
}