// Colour Groups
$orange: #FF5722;
$yellow: #FFEB3B;
$black: #000000;
$grey: #707070;
$white: #FFFFFF;

// Theme Colours
$primary: $orange;
$secondary: $yellow;

// Text Colours
$headline: $orange;
$body-light: $white;
$body-mid: $grey;
$body-dark: $black;