<% if scene.notes.present? %>
  <% scene.notes.order(:created_at).each_with_index do |note, index| %>
    <div id="note-<%= note.id %>">
      <%= render 'shared/note', space: @space, scenable: scene, note: note %>
    </div>
  <% end %>
<% end %>