<section>
  <section class="space-image" style="width:20px; height:20px; padding:10px; margin: 20px; background-color: #eee; text-align:center">
    <%= user_portrait %>
  </section>
  <section class="space-name">
    <%= space.name %>
  </section>
  <section class="space-characters-count">

  </section>
</section>