<section class="rehearsal_header">
  <h3><%= link_to root_path do %><i class="angle left large icon"></i><% end %> <%= @space.name %></h3>
</section>

<section class="container-flex">
  <section class="ui card shadow">
    <header class="header">
      <h3>Cast</h3>
    </header>
    <section class="content">
      <% @space.characters.each do |character|%>
        <div class="cast-info">
          <%= image_placeholder class: 'ui huge circular image' %>
        </div>
      <% end %>
    </section>
    <footer class="extra content">
      <a href="#"><i class="plus icon"></i> ADD CAST</a>
    </footer>
  </section>
  <section class="ui card shadow">
    <header class="header">
      <h3>Rehearsal</h3>
    </header>
    <section class="content">
      <div class="content-eg"></div>
      <div class="content-eg"></div>
      <div class="content-eg"></div>
    </section>
    <footer class="extra content">
      <a href="#"><i class="plus icon"></i> ADD CAST</a>
    </footer>
  </section>
  <section class="ui card shadow">
    <header class="header">
      <h3>Scene 1</h3>
    </header>
    <section class="content">
      <div class="content-eg"></div>
      <div class="content-eg"></div>
      <div class="content-eg"></div>
    </section>
    <footer class="extra content">
      <a href="#"><i class="plus icon"></i> ADD CAST</a>
    </footer>
  </section>
</section>