<section class="rehearsal_header">
	<h3><%= link_to root_path do %><i class="angle left large icon"></i><% end %> Rehearsal Space</h3>
</section>

<section class="container-flex">
	<section class="ui card shadow">
		<h3>Cast</h3>
	</section>
	<section class="ui card shadow">
		<h3>Research</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
</section>