<section class="rehearsal_header">
	<h3><%= link_to root_path do %><i class="angle left large icon"></i><% end %> <%= @space.name %></h3>
</section>

<section class="container-flex">
	<section class="ui card shadow">
		<header class="header">
			<h3>Cast</h3>
		</header>
		<section class="content">
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
			<div class="content-eg"></div>
		</section>
		<footer class="footer">
			<h3>Footer</h3>
		</footer>
	</section>
	<section class="ui card shadow">
		<h3>Research</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
	<section class="ui card shadow">
		<h3>Scene Name</h3>
	</section>
</section>