<section class="rehearsal_header">
	<h3>Rehearsal Space</h3>
</section>

<section class="container-flex">
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
	<section class="ui card shadow">
		<h3>Card</h3>
	</section>
</section>