<section class="ui four columns centered grid">
  <section class="column sign">
    <section class="ui columns grid">
      <section class="column">
        <h3>Change your password?</h3>
        <br>
        <div class="ui fluid input form-inputs" style="margin:20px 0px;">
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <div class="form-inputs">
              <%= f.input :password, label: "New password", required: true, autofocus: true, placeholder: 'Password' %>
              <%= f.input :password_confirmation, label: "Confirm your new password", required: true, placeholder: 'Confirm Password' %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Change my password", class: 'ui button yellow', style: "margin: 10px 0px;" %>
              <% end %>
            </div>
        </div>
      </section>
    </section>
  </section>
</section>
