<section class="ui four columns centered grid">
  <section class="column sign">
    <section class="ui columns grid">
      <section class="column">
        <h3>Forgot your password?</h3>
        <br>
        <div class="ui fluid input form-inputs" style="margin:20px 0px;">
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, required: false, placeholder: 'Email address', autofocus: true %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Reset password", class: 'ui button yellow', style: "margin: 10px 0px;" %>
              <%= link_to 'Back', :back %>
              <% end %>
            </div>
        </div>
      </section>
    </section>
  </section>
</section>
