<div class="card shadow">
  <section class="image">
    <%= image_placeholder%>
    <%= character.name %>
  </section>
  <footer>
    <% if character.space %>
    <%= character.space.name %>
    <% else %>
    <small>Space unassigned</small>
    <% end %>
    <%= link_to '+', assign_space_character_path(character) %>
  </footer>
</div>