<section>
  <%= render 'characters/character_profile', character: character %>
  <%= render 'characters/assign_space_modal_character', character: character %>
  <%= render 'characters/add_note_modal_character', character: character %>
</section> 
