<header class="sixteen wide column">
  <a id="js-back-to-main-centerbox-<%= character.id %>" href="#" class="grey">
    <i class="arrow left icon"></i><span class="link orange capitalize page-header">Persona Profile</span>
  </a>
</header>