<header class="sixteen wide column">
  <a id="js-back-to-main-centerbox-<%= character.id %>" href="#" class="grey">
    <i class="arrow left icon"></i><h3>Character Profile</h3>
  </a>
  <%= link_to share_form_character_path(character), class: 'ui button', style: "float: right" do %>
    <small>Share</small>
  <% end %>
  <%= link_to summary_character_path(character), class: 'ui button', style: "float: right" do %>
    <small>Summary</small>
  <% end %>
</header>
