<section class="row notes">
  <h2>Notes</h2>
  <section class="ui styled fluid accordion">
    <% character.notes.order('updated_at DESC').each do |note |%>
      <section id="note-<%= note.id %>">
        <%= render 'shared/note', space: nil, scenable: character, note: note %>
      </section>
    <% end %>

    <%= render 'shared/new_editor_modal', space: nil, scenable: character, note: character.notes.build %>
    <%= link_to "#", class: "ui attached button new-note-#{character.id}", remote: true do %>
      <i class="plus icon"></i>ADD NOTE</a>
    <% end %>
  </section>
</section>