<section class="row notes" style="margin-top: 50px;">
  <h2 style="margin: 0px initial;">My Backstory</h2>
  <section class="ui styled fluid accordion">
    <% character.notes.order('updated_at DESC').each do |note |%>
      <section id="note-<%= note.id %>">
        <%= render 'shared/note', space: nil, scenable: character, note: note %>
      </section>
    <% end %>

    <%= render 'shared/new_editor_modal', space: nil, scenable: character, note: character.notes.build %>
    <%= link_to "#", class: "ui attached button new-note-#{character.id}", remote: true, id: 'step9' do %>
      <i class="plus icon"></i>Add subject</a>
    <% end %>
  </section>
</section>
