<section class="row scenes">
  <section class="header row">
    <h2>My Scenes</h2>
  </section>
  <section class="ui styled fluid">
    <% character.scenes.order('created_at ASC').each do |scene| %>
      <section class="title" style="line-height:2">
        <section class="row" style="height:30px;">
          <section class="capitalize" style="float:left;">
            <%= scene.title %>
          </section>
          <section style="float:right;">
            <%= link_to polymorphic_path([@space, scene], action: :view_all) do %>
              <i class="archive icon"></i>
              <span class="link">View All</span>
            <% end %>
            &nbsp;
            <%= link_to polymorphic_path([@space, scene]), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="remove icon"></i>
              <span class="link">Delete</span>
            <% end %>
          </section>
        </section>
      </section>
    <% end %>
    <%= link_to polymorphic_path([character, :scene], action: :new), class: 'ui button attached bottom', remote: false, id: 'step10' do %>
      <i class="plus circle icon"></i>
      <span>Add scene</span>
    <% end %>
  </section>
</section>
