<section class="ui four columns centered grid">
  <section class="column sign">
    <section class="ui one columns grid">

      <section class="column">
        <h3>Share Character</h3>

        <section class="form-inputs">
          <%= form_tag share_character_path(@character) do %>
            <%= email_field_tag :email, nil, placeholder: 'Email' %>
        </section>
        <section class="form-actions">
          <%= submit_tag 'Share PDF', class: 'ui button primary' %>
          <% end %>
        </section>

      </section>
    </section>
  </section>
</section>
