<section class="dashboard_header">
  <section class="ui page grid">    
  </section>
</section>

<section class="ui page grid">
  <main id="js-main-centerbox" class="ui sixteen column segment centerbox shadow" style="overflow:hidden;" >
  <div class="ui grid">
    <div class="centered row">
      <div class="sixteen wide column" style="text-align: center; margin-top: 55px">
        <h3>Your Current Subscription</h3>
        <h1 style="text-align: center">
          <% if @pro_subscription %>
            PRO PACKAGE
          <% elsif @superstar_subscription %>
            SUPERSTAR PACKAGE
          <% else %>
            BASIC PACKAGE
          <% end %> 
        </h1>
      </div>


      <div class="nine wide column">
        <div id="user_payments_table">
          <table class="table-style">
            <thead>
              <th colspan="2" style="padding-left: 75px"><h3>Manage your subscription</h3></th>
            </thead>

            <tbody>
              <tr>
                <td class="data-1">Superstar package</td>
                <td class="data-1">
                  <%= link_to 'Upgrade', payments_path, class:  "ui yellow button #{'disabled' if @superstar_subscription or @pro_subscription}" %>
                  <% if current_user.user_payments.last %>
                    <%= link_to 'Cancel', payments_cancel_path(current_user.user_payments.last), class: "ui red button #{'disabled' unless @superstar_subscription }", method: :post %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td class="data-2">Pro package</td>
                <td class="data-2">
                  <%= link_to 'Upgrade', payments_path, class: "ui yellow button #{'disabled' if @pro_subscription or @superstar_subscription }" %>
                  <% if current_user.user_payments.last %>
                    <%= link_to 'Cancel', payments_cancel_path(current_user.user_payments.last), class: "ui red button #{'disabled' unless @pro_subscription }", method: :post %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  </main>
</section>
