<script type="text/javascript">
  $(function(){
    braintree.setup(
      '<%= @client_token %>', 
      'dropin', {
        container: 'checkout',
        form: 'brainsub'
        
      });
  });
</script>
<%= form_tag '/payments/brainsub', class: 'ui form', id: 'brainsub' do %>
<div style="padding-top:100px;"></div>
  <div class="field">
    <label>First Name</label>
    <input type="text" name="first_name" maxlength="255">
  </div>
  <div class="field">
    <label>Last Name</label>
    <input type="text" name="last_name" placeholder="" maxlength="16">
  </div>
  
  <div id="checkout" class="checkout"></div>
  <div class="field">
    <input type="hidden" name="plan" value="Subscribe">
  </div>
	<div class="field">
    <%= submit_tag 'Subscribe', class: 'ui primary button' %>
    </div>
<% end %>

