<section id="js-assign-space-modal" class="ui small modal">
  <i class="close icon"></i>
  <section class="header">
    <p>Join a Space</p>
  </section>

  <section class="content">
    <p>Choose the space you want your character to join.</p>
    <ul>
      <% current_user.spaces.each do | space | %>
      <li class="ui grid">
        <div class="one wide column">
          <input type="checkbox">
        </div>

        <div class="two wide column">
          <div style="background: #dcdcdc; width: 40px; height: 40px; border-radius: 20px;"></div>
        </div>

        <div class="thirteen wide column">
          <p> <%= space.name %> </p>
          <small> <%= space.type_of_play.present? ? space.type_of_play : 'No type' %> </small>
        </div>
      </li>
      <% end %>          
    </ul>
  </section>
  <footer class="modal footer">
    <section class="actions">
      <section class="ui button primary">Join Space</section>
    </section>
  </footer>
</section>

<script>
  $(".modal-assign-space").click(function(){
    $("#js-assign-space-modal").modal("show")
  })
</script>