<main id="js-main-centerbox" class="ui twelve wide column segment centerbox shadow" style="overflow:hidden">
  <section class="find" style="position:relative;">
    <h3>Your Characters</h3>
    <div id="listCharacters" class="ui four cards">
      <%= link_to new_character_path, :remote => true, id: 'jsPersonaButton', class: 'card action-button shadow' do %>
        <section class="content">
          <i class="large plus icon"></i>
          <h4>Create Character</h4>
        </section>
      <% end %>

      <%= render @characters %>
    </div>
  </section>
  <% current_user.characters.each do |character| %>
    <% sym = character.name.to_sym %>
    <%= yield sym %>
  <% end %>
</main>