<main id="js-main-centerbox" class="ui twelve wide column segment centerbox shadow" style="overflow:hidden;" data-step="3" data-intro="This is your character library. You can create up to two characters for FREE or upgrade to Superstar Plan for unlimited characters.">
  <section class="find" style="position:relative;">
    <h3>Your Characters</h3>
    <div id="listCharacters" class="ui four doubling cards">
      <%= link_to new_character_path, :remote => true, id: 'jsPersonaButton', class: 'ui card action-button shadow' do %>
        <section class="content" style="min-height:200px;">
          <i class="large plus icon"></i>
          <h4>Create Character</h4>
        </section>
      <% end %>

      <%= render @characters %>
    </div>
  </section>
  <% current_user.characters.each do |character| %>
    <% sym = character.name.to_sym %>
    <%= yield sym %>
  <% end %>
</main>
