<main class="ui twelve wide column segment centerbox shadow">
  <h3>Your Characters</h3>
  <div id="listCharacters" class="ui four cards">
    <%= link_to new_character_path, :remote => true, id: 'jsPersonaButton', class: 'card action-button shadow' do %>
      <section class="content">
        <i class="large plus icon"></i>
        <h4>Create Persona</h4>
      </section>
    <% end %>

    <%= render @characters %>
  </div>
</main>