<section id="js-create-space-modal" class="ui small modal">
  <i class="close icon"></i>
  <section class="header">
    <p>Create Rehearsal Space</p>
  </section>

  <section class="content">
    <p>Fill in the basic details for your space.</p>

    <section class="ui grid">
      <section class="sixteen wide column">
        <section class="form-inputs ui form">
          <%= simple_form_for current_user.spaces.build, :html => { :multipart => true } do |f| %>
            Name
            <%= f.input :name, placeholder: 'Name' %>
            <br />
            <section class="field">
              Type of play
              <%= f.input :type_of_play, as: :select, collection: ['theater', 'movie', 'tv series'] %>
            </section>
            <br />
            Image (Optional)
            <%= f.input :image %>
          <% end %>
        </section>
      </section>
    </section>
  </section>
  <footer class="modal footer">
    <section class="actions">
      <section class="ui button primary">Create Space</section>
    </section>
  </footer>
</section>

<script>
  $(document).ready(function(){
    $('#js-create-space-modal .modal.footer .button').click(function() {
      $('#new_space').trigger('submit');
    });
    $(".modal-create-space").click(function(){
      $("#js-create-space-modal").modal("show");
    })
  })
</script>
