<section id="js-create-character-modal" class="ui small modal">
  <i class="close icon"></i>
  <section class="header">
    <p>Create a Character</p>
  </section>

  <section class="content">
    <p>Fill in the basic details for your persona.</p>

    <section class="ui grid">
      <section class="four wide column">
        <a href="#">
          <section class="ui card">
            <section class="content">
              <i class="photo icon"></i>
              <h4>Upload Image</h4>
            </section>
          </section>
        </a>
      </section>

      <section class="twelve wide column">
        <%= simple_form_for current_user.characters.build do |f| %>
          <section class="form-inputs">
            <%= f.input :name, placeholder: 'Full Name' %>
            <%= f.input :nationality, placeholder: 'Nationality' %>
            <%= f.input :DOB, label: 'Date Of Birth', as: :date, start_year: Date.today.year - 50,
            end_year: Date.today.year, discard_day: false,
            order: [:day, :month, :year] %>
          </section>
        <% end %>
      </section>
    </section>
  </section>
  <footer class="modal footer">
    <section class="actions">
      <section class="ui button primary">Create Character</section>
    </section>
  </footer>
</section>

<script>
  $('#js-create-character-modal .modal.footer .button').click(function() {
    $('#js-create-character-modal form').submit()
  });
</script>