<% if flash.present? %>
    <% flash.each do |key,value| %>
    <%= flash[key] %>
  <% end %>
<% end %>

<body>
  <% unless user_signed_in? %>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <% end %>
</body>