<section class="dashboard_header">
  <section class="ui page grid">
    <h3>Dashboard</h3>
  </section>
</section>

<section class="ui page grid">
  <%= render 'application/profile' %>
  <%= render 'application/centerbox' %>
  <%= render 'application/create_character_modal' %>
  <%= render 'application/edit_profile_modal' %>
</section>