<div style="height:50px; width: 100%; margin:-8px; padding: 0px; background-color: #EEC; top:0px" >
<ul >
		<li style="display:inline"><%= link_to 'Home', root_path %></li>
		<li style="display:inline"><%= link_to 'Characters', characters_path %></li>
	</ul>
</div>